.svn/
.vs/
*.db
*.vsxproject.user
*.vsxproject.vspscc
.vscode
# *
!script/
!config/
!Documentation/
.DS_Store
/*.*
/caches
/cef3
/config
/database
/npl_packages
/players
/plugins
/Screen Shots
/temp
/worlds
/script/mainstate.lua
/Audio
/bin
/bin64
/character
/Director
/fonts
/HaqiQuestTools
/installer
/model
/Texture
/log
# Mod
# !Mod/WorldShare
/release
/mono
/original
/ParaCraftLauncher
/ParaCraftMobile
/ParaIDE
/PEToolBench
/PEToolBenchV2
/WebSite/FrontPage
/_emptyworld
/Update
/VideoDecodeStats
/script/bin/luac5.1.exe
/Mod/*.*
/Mod/MovieCodecPlugin
/WindowWebView2Cache
/script/apps/WebServer/admin/pptimg
/Mod/VideoPlayerPlugin
/Mod/NPLLauncher
/NULL
/blocktemplates
/npl_extensions/npl_packages/NplCadEditor.zip
/npl_extensions/version.txt
/arduino-cli
